@import url(../node_modules/flexboxgrid/css/flexboxgrid.css);
@font-face {
  font-family: NexaBold;
  src: url("../NexaBold/nexabold.otf") format("opentype"); }
nav {
  height: 45px;
  background: #5fa1db;
  position: absolute;
  top: 0;
  width: 100%; }
  nav ul {
    float: right;
    list-style: none;
    display: inline-flex;
    margin-right: 60px; }
    nav ul li a {
      color: #fff;
      margin-left: 30px;
      text-transform: uppercase;
      font-family: "NexaBold";
      font-size: 13px;
      text-decoration: none; }
      nav ul li a:hover, nav ul li a:focus {
        text-decoration: underline; }

@media (max-width: 1050px) {
  nav ul {
    margin-right: 20px; } }
@media (max-width: 400px) {
  nav ul li a {
    font-size: 10px; } }
.form-container {
  width: 50%;
  margin: 0 auto;
  background: #fbfbfd;
  margin-top: 85px;
  padding: 40px 40px 80px 40px;
  border-radius: 4px; }
  .form-container form {
    text-align: center; }
    .form-container form p {
      font-family: NexaBold;
      color: #0a4a7b;
      margin-top: 30px;
      text-align: left; }
    .form-container form input {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      border: 1px solid #dedede;
      font-size: 24px; }
    .form-container form .submit-button {
      width: 50%;
      margin-top: 40px;
      background: #0a4a7b;
      color: #fff;
      font-family: NexaBold;
      font-size: 18px;
      height: 50px; }

@media (max-width: 1050px) {
  .form-container {
    width: 80%; } }
@media (max-width: 450px) {
  .form-container img {
    width: 90%; } }
#slider {
  position: relative;
  overflow: hidden;
  margin: 100px auto 0px auto;
  border-radius: 4px; }

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 700px;
  height: 400px;
  text-align: center;
  line-height: 1.5; }
  #slider ul li h5, #slider ul li h6, #slider ul li p {
    font-family: NexaBold; }
  #slider ul li h5 {
    color: #0a4a7b;
    font-size: 18px; }
  #slider ul li h6 {
    color: #0673c0;
    font-size: 16px; }
  #slider ul li p {
    color: #5fa1db;
    font-size: 14px;
    margin-top: -30px; }

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px; }

@media (max-width: 745px) {
  #slider ul li {
    width: 500px; } }
@media (max-width: 530px) {
  #slider ul li {
    width: 400px; } }
@media (max-width: 420px) {
  #slider ul li {
    width: 300px; } }
.pre-footer {
  background: #fbfbfd;
  padding: 50px; }
  .pre-footer h5 {
    font-family: NexaBold;
    color: #0a4a7b;
    font-size: 18px; }
  .pre-footer ul {
    margin-top: -15px; }
    .pre-footer ul li {
      font-family: "Helvetica Neue", Helvetica, Arial;
      color: #262626;
      font-size: 14px;
      line-height: 1.5; }

.footer {
  background: #5fa1db;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial;
  text-align: center; }
  .footer h6 {
    font-weight: normal;
    font-size: 12px; }
  .footer ul {
    list-style: none;
    margin: -15px 0 50px 0; }
    .footer ul li {
      display: inline-block;
      margin-top: 10px; }
      .footer ul li span {
        margin: 0 15px 0 15px; }
      .footer ul li a {
        color: #fff;
        font-family: "Helvetica Neue", Helvetica, Arial;
        font-size: 14px; }

@media (max-width: 400px) {
  .pre-footer {
    padding: 20px; } }
@media (max-width: 560px) {
  .footer ul span {
    display: none; } }
body {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=app.css.map */
