


.box-container {
  height: 600px;
  background: $gray;
  width: 95%;
  color: $dark-blue;
  font-family: "Helvetica Neue", Helvetica, Arial;
  margin: 70px auto 0 auto;
  font-size: 17px;
  line-height: 1.5;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 1px 1px 1px #828282;
  .description {
    text-indent: 40px;
    margin-top: -10px;
    text-align: left;
  }
  .info {
    margin-top: 30px;
    text-align: left;
  }
  strong {
    font-family: NexaBold;
    font-size: 19px;
  }
}

@media (max-width: 1111px) {
  .box-container {
    font-size: 16px;
    strong {
      font-size: 17px;
    }
  }
}

@media (max-width: 992px) {
  .box-container {
    width: 75%;
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 512px) {
  .box-container {
    font-size: 15px;
    strong {
      font-size: 16px;
    }
  }
}

@media (max-width: 482px) {
  .box-container {
    width: 90%;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .box-container {
    font-size: 14px;
    strong {
      font-size: 15px;
    }
  }
}
