@font-face {
  font-family: NexaBold;
  src: url("../NexaBold/nexabold.otf") format("opentype");
}

@import 'flexboxgrid';
@import 'nav';
@import 'hero';
@import 'variables';
@import 'contact-form';
@import 'slider';
@import 'footer';
@import 'additional-info';

body {
  padding: 0;
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.top-row {
  padding: 12px 0px;
  width: 960px;
  margin: 0 auto;
  background: $dark-blue;
  margin-top: 70px;
  border-radius: 4px;
}

// @media (max-width: 1266px) {
//   .top-row {
//     padding: 0 30px;
//   }
// }
//
@media (max-width: 992px) {
  .top-row {
    width: 700px;
  }
}

@media (max-width: 730px) {
  .top-row {
    width: 600px;
  }
}

@media (max-width: 618px) {
  .top-row {
    width: 500px;
  }
}

@media (max-width: 516px) {
  .top-row {
    width: 400px;
  }
}

@media (max-width: 423px) {
  .top-row {
    width: 350px;
  }
}

@media (max-width: 360px) {
  .top-row {
    width: 300px;
    margin-top: 50px;
  }
}
