@font-face {
  font-family: NexaBold;
  src: url("../NexaBold/nexabold.otf") format("opentype");
}

@import 'flexboxgrid';
@import 'nav';
@import 'variables';
@import 'contact-form';
@import 'slider';
@import 'footer';
@import 'additional-info';

body {
  padding: 0;
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.top-row {
  padding: 0 80px;
}

@media (max-width: 1266px) {
  .top-row {
    padding: 0 30px;
  }
}

@media (max-width: 1086px) {
  .top-row {
    padding: 0px;
  }
}
