#slider {
  position: relative;
  overflow: hidden;
  margin: 10px auto 0px auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  // height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 760px;
  height: 400px;
  text-align: center;
  line-height: 1.5;
  h5, h6, p {
    font-family: NexaBold;
  }
  h5 {
    color: $dark-blue;
    font-size: 24px;
  }
  h6 {
    color: $medium-blue;
    font-size: 22px;
    margin-top: -10px;
  }
  p {
    color: $light-blue;
    font-size: 20px;
    margin-top: -50px;
  }
}

#slider-2 {
  position: relative;
  overflow: hidden;
  margin: 0 auto 10px auto;
  border-radius: 4px;
}

#slider-2 ul {
  position: relative;
  margin: 0;
  padding: 0;
  // height: 200px;
  list-style: none;
}

#slider-2 ul li {
  position: relative;
  display: block;
  // float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  img {
    width: 940px;
    height: 175px;
    border-radius: 4px;
  }
}

// a.control_prev, a.control_next {
//   position: absolute;
//   top: 40%;
//   z-index: 999;
//   display: block;
//   padding: 4% 3%;
//   width: auto;
//   height: auto;
//   background: #2a2a2a;
//   color: #fff;
//   text-decoration: none;
//   font-weight: 600;
//   font-size: 18px;
//   opacity: 0.8;
//   cursor: pointer;
// }

// a.control_prev:hover, a.control_next:hover {
//   opacity: 1;
//   -webkit-transition: all 0.2s ease;
// }
//
// a.control_prev {
//   border-radius: 0 2px 2px 0;
// }
//
// a.control_next {
//   right: 0;
//   border-radius: 2px 0 0 2px;
// }




// Slider 1 media queries

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

@media (max-width: 745px) {
  #slider ul li {
    width: 500px;
  }
}

@media (max-width: 530px) {
  #slider ul li {
    width: 400px;
    h5 {
      font-size: 18px;
    }
  }
}

@media (max-width: 420px) {
  #slider ul li {
    width: 300px;
  }
}


// Slider 2 media queries

// @media (max-width: 1171px) {
//   #slider-2 ul li {
//     img {
//       width: 450px;
//     }
//   }
// }
//
@media (max-width: 992px) {
  #slider-2 ul li {
    img {
      width: 680px;
    }
  }
}

@media (max-width: 730px) {
  #slider-2 ul li {
    img {
      width: 580px;
    }
  }
}

@media (max-width: 618px) {
  #slider-2 ul li {
    img {
      width: 480px;
    }
  }
}

@media (max-width: 516px) {
  #slider-2 ul li {
    img {
      width: 380px;
    }
  }
}

@media (max-width: 423px) {
  #slider-2 ul li {
    img {
      width: 330px;
    }
  }
}

@media (max-width: 360px) {
  #slider-2 ul li {
    img {
      width: 280px;
      height: 150px;
    }
  }
}
